
.miuihomer .el-card {
    background: var(--bg);
}

.el-card {
    border: 0;
}

.el-card__header {
    padding: 1px 5px;
    border-bottom: 1px dashed #efefef;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 2em;
}

.el-card__body {
    padding: 1px 5px;
}

.el-table {
    background-color: var(--bg);
    color: var(--text-color);
}